<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="stle" />
	<title>MVC With Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	{{{ body }}}
	<script src="https://kit.fontawesome.com/0920b2abc0.js" crossorigin="anonymous"></script>
</body>

</html>